.divCenter {
    width: 160px;
    height: 120px;
    border: solid crimson 5px;
    border-radius: 45%;
    background-image: url("images/myHouse.png");
    background-size: cover;
    display: block;
    margin: 5px auto;
    vertical-align: top;
    box-sizing: border-box;
}

.house1 {
    border: rgb(210, 105, 30) 10px solid;
    border-radius: 20%;
    display: inline;
    padding: 8px;
    background-color: rgba(0, 0, 139, 0.78)
}

div {
    width: 200px;
    height: 150px;
    border: solid crimson 5px;
    border-radius: 25%;
    background-image: url("images/myHouse.png");
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

