body{
    align-items: center;
    border: solid 5px green;
}

div
{
    border: solid 5px black;
    width: 900px;
    height: 150px;
    font-size:100px;
    text-align: center;
    color: white;
    background-color: blue;
    margin: 0px auto;
}