body{
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid green;
}
nav{
    vertical-align: top;
    border: 2px solid red;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
}

main{
    border: 2px solid red;
    display: inline-block;
    box-sizing: border-box;
    width: 75%;
}

